h1 {
  color: red;
}

.navbar-google {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navbar-item-google {
  margin: 10px;
  color: black;
}

a:link {
  color: blue; /* Style for unvisited links */
  text-decoration: none;
}

a:visited {
  color: purple; /* Style for visited links */
  text-decoration: none;
}

a:hover {
  color: pink; /* Style for links when hovered over */
}

a:active {
  color: green; /* Style for links when clicked */
}


