
h1{
font-size: 43px;
color: green;
}

.navbar-google{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navbar-item-google{
  margin: 10px; 
  c0lor: red;
}


h1{
color: red;
}

